.footer{
    background-color: rgba(26, 176, 226, 0.784);
    height: 4rem;
    width: 100%;
    /* border: 2px solid rgb(13, 211, 13); */
    display: flex;
    justify-content: center;
    align-items: center;
}