*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeMain{
    /* height: 100%; */
    width: 100%;
    /* border:2px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.homeContent{
    color: white;
    font-size: 2rem;
    font-weight:1.9rem;
    /* margin-bottom: rem; */
    padding: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

@media screen and (max-width: 379px) {
    .homeContent{
        
        font-size: 1rem;
        font-weight:1.9rem;
        position: relative;
        bottom: 23px;
        
    }
  
}


